extends baseEmail

block content
  p Hi #{firstName},
  p Change your password here if you forgot it : #{url}
  p (website for this action is not yet implemented)
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset Password
  p If you didn't forget your password, please ignore this email!